/* This div style sets the origin/template style of every box.*/
div {
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    margin: 25px;
    border: 4px solid black;
    line-height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
  }

  /* This adjusts the positions of all items in body to centered.*/
  body {
    margin: 100px auto;
    width: max-content;
  }

  /* This div makes use of box shadows.*/
  #diva {
    border-color: #8b2be4;
    box-shadow: 10px 10px 10px rgb(238, 12, 35);
  }

  /* This div inverts the box shadown by using "inset".*/
  #divb {
    border-color: rgb(1, 254, 5);
    box-shadow: inset 10px 10px 10px rgb(0, 0, 0);
  }

  /* This div applies multiple box shadows over each other.*/
  #divc {
    border-radius: 20px;
    border-color: rgb(248, 140, 18);
    box-shadow: 
        0px 0px 0px 10px rgb(0, 1, 254),
        0px 0px 0px 20px rgb(255, 1, 2),
        0px 0px 0px 30px rgb(0, 127, 3);
  }

  /* This div creates a shadow for the text.*/
  #divd {
    border-color: rgb(171, 35, 34);
    text-shadow: 5px 5px 1px black;
  }