/* This sets the position of the calculator to be centered, sets the background image, and default font.*/
body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-image: url(PetrolPattern.jpg);
}

/* This adds a border and background to the table and final output section.*/
table, .finaloutput {
    border: 2px solid black;
    background-color: white;
}

/* This gives some padding space to table.*/
table {
    padding: 10px;
} 

/* This allows some space between this element and table, while also giving some whitespace.*/
.finaloutput {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Boldens the final output.*/
#finalcost {
    font-weight: 600;
}

